# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the 
# server process.

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"
title                    : "Yingzhou Wang"
title_separator          : "-"
name                     : &name "Yingzhou Wang"
description              : &description "Yingzhou Wang’s academic homepage"
url                      : "https://joel-wang-math.github.io"
baseurl                  : "/Yingzhou-Wang"
repository               : "Joel-Wang-Math/Yingzhou-Wang"

# Sidebar Author Profile
author:
  avatar: "selfie2.jpg"
  name: "Yingzhou Wang"
  bio: "Master’s student at UW–Madison studying optimization and computational mathematics."
  employer: "UW-Madison"
  email: "ywang3525@wisc.edu"
  links:
    - label: "CV"
      icon: "far fa-file-pdf"
      url: "{{ '/files/WangYingzhou_CV.pdf' | relative_url }}"



  
  # Academic websites
  googlescholar    : 
  orcid            :
  pubmed           : 

  # Repositories
  github           : "Joel-Wang-Math"

  # Social media (fill later if you want)
  linkedin         : yingzhou-wang-477a47325

# Publication Categories
publication_category:
  books:
    title: 'Books'
  manuscripts:
    title: 'Journal Articles'    
  conferences:
    title: 'Conference Papers'

# Site Settings
teaser                   :
breadcrumbs              : false
words_per_minute         : 160
future                   : true
read_more                : "disabled"
talkmap_link             : false

comments:
  provider               :

atom_feed:
  hide                   : false

# SEO
social:
  type: Person
  name: "Yingzhou Wang"
  links: []

# Analytics
analytics:
  provider               : "false"

# Include/exclude
include:
  - .htaccess
  - _pages
  - files

exclude:
  - node_modules
  - vendor
  - tmp
  - local
  - log
  - README

# Markdown
markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM

# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone: America/Chicago

# Plugins
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-redirect-from
  - jemoji

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
